{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
        {% if editMode %}
            <h1>Modifier mon profil</h1>
        {% else %}
            <h1>Inscription</h1>
        {% endif %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.phone) }}
        {{ form_row(registrationForm.address) }}
        {{ form_row(registrationForm.postalCode) }}
        {{ form_row(registrationForm.city) }}
        {{ form_row(registrationForm.country) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        {% if editMode %}
        <button class="btn btn-primary">Mettre à jour</button>
        {% else %}
        <button class="btn btn-primary">S'inscrire</button>
        {% endif %}
    {{ form_end(registrationForm) }}
{% endblock %}
