{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Nos catégories de produits</h1>
    </div>

    <div class="row">
        {% for category in categories %}
            <div class="col-4 mt-4">
                <a href="{{ path( 'category_show', {'id': category.id} ) }}">
                    <div class="border border-dark rounded p-2 clearfix">
                        <h2>
                            {{ category.name }}
                        </h2>
                        <img class="img-fluid rounded" src="{{ category.media }}" alt="{{ category.mediaAlt }}">
                        <p>
                            {{ category.description }}
                        </p>
                        </a>
                    </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
