{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1 class="text-center">Nos catégories de produits</h1>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('category_new') }}" class="btn btn-success mt-2"><i class="fas fa-plus-circle mr-1"></i>Créer une catégorie</a>
    {% endif %}

    <div class="row">
        {% for category in categories %}
            <div class="col-4 mt-4">
                <a href="{{ path( 'category_show', {'id': category.id} ) }}" class="unstyled-link">
                    <div class="border border-dark rounded p-2 clearfix">
                        <h2 class="text-center">
                            {{ category.name }}
                        </h2>
                        <hr>
                        <img class="img-fluid rounded" src="{{ category.media }}" alt="{{ category.mediaAlt }}">
                        <hr>
                        <p class="text-center">
                            {{ category.description }}
                        </p>
                        </a>
                    </div>
            </div>
        {% endfor %}
    </div>
    
{% include 'footer.html.twig' %}

{% endblock %}


