{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4">
            <img src="{{ product.media }}" alt="{{ product.mediaAlt }}" style="width: 100%;">
        </div>
        <div class="col text-center">
            <h1>{{ product.name }}</h1>
            <p>{{product.description}}</p>
            <p>Prix : {{ product.price }}0 €</p>
            <a href="{{path( 'cart_add', {'id': product.id} )}}" class="btn btn-success align-center">
                <i class="fas fa-shopping-cart mr-1"></i>
                Ajouter
            </a>
        </div>
        
        
    </div>

{% endblock %}
